th, td{
  padding-left: 5px;
  padding-right: 5px;
}

th{
  padding-bottom: 5px;
  border-bottom: 2px solid #848482;
}

th.table_number {
  text-align: right;
  white-space: nowrap;
}

td{
  padding-top: 5px;
  border-bottom: 1px solid #D1D0CE;
  font-size: 12px;
}

table{
	float:left;
	margin-left: 10px;
}

#update_time{
  font-size: 9px;
  color: gray;
  margin-bottom: 5px;
  margin-left:5px;
}